@import "tailwindcss";


.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none
 }
.btn-primary{
    @apply w-full text-sm font-medium text-white p-[10px] cursor-pointer  bg-violet-500 shadow-lg shadow-purple-600/5 rounded-md my-1 hover:bg-purple-600/15 hover:text-purple-600 transition duration-100
}
